<h1>Life Cycle Hooks</h1>

<div class="row">
  <div class="col-sm-12">
    <h3>Tabs</h3>
    <tabs-container>
      <tab label="User Details">
        <h5>User Details</h5>
        <button>test 1</button>
      </tab>
      <tab label="Settings">
        <h5>Settings</h5>
        <p>Lorem ipsum...</p>
      </tab>
      <tab label="Description Panel">
        <h5>Description Panel</h5>
        <p>Some other text...</p>
      </tab>
    </tabs-container>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-12">
    <h3>Wizard</h3>
    <wizard>
      <wizard-step title="First step">
        <h5>User Info</h5>
        <button>test 1</button>
      </wizard-step>

      <wizard-step title="2nd step">
        <h5>Order Details</h5>
        <button>order lorem...</button>
      </wizard-step>

      <wizard-step title="3rd step">
        <h5>VAT info</h5>
        <p>vat lorem...</p>
      </wizard-step>

      <wizard-step title="Delivery Address">
        <h5>Delivery Info</h5>
        <p>loerm ipsum...</p>
      </wizard-step>

      <wizard-step title="Summary">
        <h5>Wizard Summary</h5>
        <p>some info...</p>
      </wizard-step>
    </wizard>
  </div>
</div>